* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #202024;
  color: #e1e1e6;
}
.app {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
  background: #121214;
}
.app-body {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 32px;
}
.container {
  flex: 1 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 28px 0px 50px;
}
.content {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.logo-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 480px;
}
.logo-text div {
  display: flex;
  margin-bottom: 66px;
}
.form {
  width: 100%;
  max-width: 480px;
  background: #202024;
  border-radius: 5px;
  padding: 64px;
}
form {
  display: flex;
  flex-direction: column;
}
.section {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  margin-bottom: 15px;
}
.form-field {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: #121214;
  border-color: #121214;
  color: #ffffff;
  padding: 0px 1em 0px 2.65em;
  border-radius: 5px;
}
input {
  font-family: Roboto, sans-serif;
}
input,
textarea {
  outline: 0px;
  border: 2px solid #28272c;
  transition: border 0.2s ease 0s;
}
.form-error {
  display: inline-block;
  color: rgb(211, 66, 66);
  padding-top: 7px;
  font-size: 14px;
}

.button {
  background: #f0a202;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  transition: background 0.2s ease 0s, color 0.2s ease 0s;
  font-size: 16px;
  text-transform: uppercase;
}
button {
  cursor: pointer;
  font-family: Roboto, sans-serif;
}
button:hover {
  filter: brightness(0.9);
}
.line {
  align-items: center;
  border-bottom: 1px solid #2f3336;
  display: flex;
  margin: 20px 0px;
  text-align: center;
}
.register {
  font-size: 14px;
  margin-top: 24px;
  color: #e1e1e6;
  text-align: center;
}
.register-link {
  font-size: 14px;
  font-weight: 600;
  color: #f0a202;
  margin: 8px 0px 24px;
  opacity: 0.8;
  align-self: flex-start;
}
a {
  text-decoration: none;
}
